extends _layout

block title
  title Observe2ch Web - #{name}

block body
  #app-common
  #app-main
  script(type='text/javascript') window.account = !{account}
  script(type='text/javascript', src='/assets/js/vendor.js')
  script(type='text/javascript', src=`/assets/js/${name}.js`)
