doctype html
html
  head
    title Observe2ch Web
    include elements/head
  body
    #app
    script
      | window.userInfo=
      != userInfo
      | ;
    script(type='text/javascript', src='/assets/js/search.js')
