@import "./variables.css";

:root {
  --modal-padding: 4vw;
  --modal-bar-height: 12.5vw;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  &.visible {
    display: block;
  }

  & .modal--close {
    background: #222;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 7.5vw;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 7.5vw;
    z-index: 1150;
  }

  & .modal--content {
    background: #fff;
    border-radius: var(--radius-small);
    bottom: var(--modal-padding);
    box-shadow: 0 0 10px 0 #333;
    left: var(--modal-padding);
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    padding: 4px 0;
    position: fixed;
    right: var(--modal-padding);
    top: var(--modal-padding);
  }

  & header,
  & footer {
    background: #fff;
    box-sizing: border-box;
    height: var(--modal-bar-height);
    left: var(--modal-padding);
    padding: 4px;
    position: fixed;
    right: var(--modal-padding);
    z-index: 1100;
  }

  & header {
    border-radius: var(--radius-small) var(--radius-small) 0 0;
    top: var(--modal-padding);
  }

  & footer {
    border-radius: 0 0 var(--radius-small) var(--radius-small);
    bottom: var(--modal-padding);
  }

  & .modal--spacer {
    height: var(--modal-bar-height);
  }
}
