@import "./variables.css";

:root {
  --query-input-width: 96%;
  --query-input-base-width: 320px;
}

.query-expression--term {
  border-bottom: 1px solid var(--color-gray);
  margin: 6px;
  padding: 6px;

  &:last-child {
    border: none;
    text-align: center;
  }
}

.query-expression--button {
  border: 3px solid var(--color-gray);
  border-radius: 50%;
  display: inline-block;
  height: 2.4em;
  margin: 0 6px 48px;
  width: 2.4em;

  &:focus {
    border-color: var(--color-select);
    box-shadow: 0 0 3px 3px var(--color-select-shadow);
    color: var(--color-select);
  }
}

.query-expression--confirm {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;

  & button {
    border-radius: 50%;
    bottom: -50%;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 48px;
    margin: auto;
    position: absolute;
    top: -50%;
    width: 48px;
  }

  & .query-expression--confirm--remove {
    background: var(--color-alert);
  }

  & .query-expression--confirm--cancel {
    background: var(--color-green);
  }
}

.logical-operator {
  -webkit-appearance: none;
  background: #fff;
  border: 3px solid var(--color-gray);
  border-radius: var(--radius-small);
  display: block;
  height: 2em;
  margin: 2px;
  outline: none;
  text-align: center;
  transition: width var(--duration-middle);
  width: auto;

  &:first-child {
    margin-left: 8px;
    margin-right: auto;
  }

  &:last-child {
    margin-left: auto;
    margin-right: 8px;
  }

  &:focus {
    border-color: var(--color-select);
    box-shadow: 0 0 3px 3px var(--color-select-shadow);
    color: var(--color-select);
  }
}

.query-input {
  margin: 2px;
  position: relative;
  text-align: center;

  & .query-input--remove {
    border: 3px solid var(--color-alert);
    border-radius: 50%;
    bottom: -50%;
    color: var(--color-alert);
    display: inline-block;
    font-size: 16px;
    height: 28px;
    margin: auto 6px;
    position: absolute;
    right: 6px;
    top: -50%;
    transition: var(--duration-quick) left;
    width: 28px;

    &:focus {
      box-shadow: 0 0 3px 3px var(--color-alert);
    }
  }

  & > input {
    -webkit-appearance: none;
    border: 3px solid var(--color-gray);
    border-radius: var(--radius-middle);
    font-size: 0.75em;
    margin: auto;
    outline: none;
    padding: 8px 0;
    position: relative;
    text-align: center;
    transition: var(--duration-middle);
    width: calc(var(--query-input-width) * 0.75);

    @media (--screen-tablet) {
      width: calc(var(--query-input-base-width) * 0.75);
    }

    &:focus {
      border-color: var(--color-select);
      box-shadow: 0 0 3px 3px var(--color-select-shadow);
      color: var(--color-select);
      font-size: 1.2em;
      width: var(--query-input-width);
      z-index: 15;

      @media (--screen-tablet) {
        width: var(--query-input-base-width);
      }

      & ~ .query-input--drawer {
        max-width: calc(var(--query-input-width) * 0.92);
        min-width: calc(var(--query-input-width) * 0.48);
      }
    }
  }

  & .query-input--drawer {
    background: #fff;
    border-radius: 0 0 var(--radius-small) var(--radius-small);
    box-sizing: content-box;
    left: -50%;
    margin: 0 auto;
    max-height: 0;
    max-width: calc(var(--query-input-width) * 0.46);
    min-width: calc(var(--query-input-width) * 0.24);
    overflow-y: scroll;
    padding: 0;
    position: absolute;
    right: -50%;
    transition: var(--duration-middle);
    z-index: 10;

    &.visible {
      box-shadow: 0 0 6px 3px var(--color-gray);
      max-height: 10em;
    }

    & .query-input--option {
      border-top: 1px solid var(--color-gray);
      display: block;
      line-height: 1em;
      text-align: center;
      width: 100%;

      & .query-input--option--body {
        font-size: 1em;
        transition: color var(--duration-quick);
      }

      & .query-input--option--container {
        border-radius: 4px;
        box-sizing: border-box;
        height: 100%;
        padding: 6px 0;
        transition: background var(--duration-quick);
        width: 100%;

        &:hover {
          border: 2px solid var(--color-hover);
          padding: 4px 0;
        }

        @nest .checkbox:checked ~ & {
          background: var(--color-select-bg);
          color: #fff;
        }
      }
    }
  }
}

.modal {
  & header {
    background: var(--color-orange);
    color: #fff;

    & h1 {
      margin: 0 0.25em;
    }
  }

  & footer {
    border-top: 1px solid var(--color-gray);
    padding: 6px;

    & button {
      color: var(--color-gray);
      font-weight: bold;
      letter-spacing: 0.2em;
      margin: 0 6px;
      padding: 8px 12px;

      &.enable {
        color: var(--color-orange);
      }

      &.submit {
        background: var(--color-orange);
        border-radius: 16px;
        color: #fff;
        display: block;
        float: right;
      }
    }
  }
}

.history--item {
  border-bottom: 3px solid var(--color-gray);
  padding: 0 6px;
}

.query-condition {
  border-bottom: 1px solid var(--color-gray);

  &:last-child {
    border-bottom: none;
  }

  & input:checked ~ .condition {
    background: var(--color-orange);
    color: #fff;
  }
}

.condition {
  border-radius: var(--radius-tiny);

  & p {
    margin: 2px;
  }

  & .condition--keywords {
    font-size: 84%;
    text-align: center;
  }

  & .condition--operator {
    font-size: 72%;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }
}
