@import "normalize.css";
@import "./modal.css";
@import "./query-expression.css";

html,
body {
  font-family: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.075em;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.checkbox,
.radio {
  display: none;
}

header {
  background: var(--color-green);
  color: #fff;
  padding: 6px;

  & h1 {
    margin: 0;
  }
}
